@import "{{ site.theme }}";
aside a.button-deb {
    display: block;
    width: 138px;
    padding-left: 64px;
    margin-bottom: 20px;
    font-size: 21px;
    background: transparent url(../images/download-button-deb.png) 0 0 no-repeat;

}